<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>QATAR World-Cup 2022</title>
</head>

<body>

    <nav id="navbar">
    </nav>

    <section id="intro">
        <div class="intro-content">
            <h1>QATAR WORLDCUP 2022</h1>
            <p><i class="fab fa-galactic-senate"></i>MAKE YOUR WORLD CUP PREDICTIONS</p>
            <a href="#" id="open-btn">CLICK HERE<i class="fas fa-angle-down"></i></a>
        </div>
    </section>

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-1">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-2">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-3">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-4">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-5">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-6">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-7">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-8">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-9">


    // Modal

    <div id="modal-container">
        <div id="modal">
            <div class="modal-content">
                <div class="container container1">
                    <div class="content">
                    </div>
                    <div class="flap flap1"></div>
                </div>
                <div class="container container2">
                    <div class="content">
                    </div>
                    <div class="flap flap2"></div>
                </div>
                <div class="container container3">
                    <div class="content">
                    </div>
                    <div class="flap flap3"></div>
                </div>
                <div class="container container4">
                    <div class="content">
                    </div>
                    <div class="flap flap4"></div>
                </div>
                <div id="close-btn">
                    <span>&times;</span>
                </div>
            </div>
            <div class="contest">
                <h1>WHO WILL WIN THE RACE !</h1>
                <h4>PREDICT YOUR SCORE AND WIN THE PRIZE</h4>
            </div>
            <div class="form">
                <form action="" id="userForm">
                    <div>
                        <select id="Predict" name="teamOne">
                            <option class="option" value="argentina">ARGENTINA</option>
                            <option class="option" value="croatia">CROATIA</option>

                        </select>
                        <input class="input-data" type="number" name="teamOneScore">
                        <span class="dummy">-</span>
                        <input class="input-data" type="number" name="teamTwoScore">
                        <select id="Predict" name="teamTwo">
                            <option class="option" value="france">FRANCE</option>
                            <option class="option" value="morocco">MOROCCO</option>
                        </select>
                    </div>
                    <div class="details">
                        <div>
                            <input class="input-details penalty" placeholder="Penalty Score (Optional)" type="text"
                                name="penalty">


                        </div>
                        <div>
                            <input class="input-details" placeholder="Enter Your Name" type="text" name="name">
                            <input class="input-details" placeholder="Contact Number" type="text" name="phoneNumber">
                            <input class="input-details" placeholder="Batch " type="text" name="batchNumber">
                        </div>
                    </div>
                    <div class="button-sub">
                        <button class="btn-pre" id="submitButton">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        $(document).ready(function () {
            $('body').ripples({
                resolution: 512,
                dropRadius: 10,
                perturbance: 0.008,
            });
        })

        let openBtn = document.getElementById('open-btn');
        let modalContainer = document.getElementById('modal-container');
        let closeBtn = document.getElementById('close-btn');

        openBtn.addEventListener('click', function () {
            modalContainer.style.display = 'block';
        });


        closeBtn.addEventListener('click', function () {
            modalContainer.style.display = 'none';
        });


        window.addEventListener('click', function (e) {

            if (e.target === modalContainer) {
                modalContainer.style.display = 'none';
            }
        })
        var submitButton = document.getElementById('submitButton');
        var userForm = document.getElementById('userForm');
        submitButton.addEventListener('click', async function (e) {
            e.preventDefault();
            var formData = new FormData(userForm);
            dataToSend = Object.fromEntries(formData);

            await fetch('/user-input', {
                method: "POST",
                body: JSON.stringify(dataToSend),
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((response) => response.json())
                .then(async (response) => {
                    if (response === 'success') {
                        Toastify({
                            text: "Your Prediction Has Been Recorded",
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },
                            onClick: function () { } // Callback after click
                        }).showToast();
                        modalContainer.style.display = 'none';

                    }
                    if (response.phoneNumber) {

                        Toastify({
                            text: response.phoneNumber,
                            className: "info",
                            close: true,
                            duration: 3000,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true,


                            style: {
                                background: "linear-gradient(to right, #dc143c, #dc143c)",
                            }
                        }).showToast();
                    }
                })
        })
    </script>

</body>

</html>