<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <title>QATAR World-Cup 2022</title>
</head>

<body>

    <nav id="navbar">
    </nav>

    <section id="intro">
        <div class="intro-content">
            <h1>QATAR WORLDCUP 2022</h1>
            <p><i class="fab fa-galactic-senate"></i>MAKE YOUR WORLD CUP PREDICTIONS</p>
            <a href="#">CLICK HERE<i class="fas fa-angle-down"></i></a>
        </div>
    </section>

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-1">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-2">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-3">

    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-4">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-5">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-6">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-7">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-8">
    <img src="/images/cube-variant-with-shadow.svg" alt="ball" class="cube cube-9">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.js"></script>

    <script>
        $(document).ready(function () {
            $('body').ripples({
                resolution: 512,
                dropRadius: 20,
                perturbance: 0.04,
            });
        })
    </script>

</body>

</html>