@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    font-family: 'Chivo Mono', monospace;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url('../images/qatarHome1.jpg');
    background-size: cover;
    background-position: top;
}

body::after {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: auto;
    width: 90%;
}

.logo,
.nav-links {
    display: flex;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.logo {
    flex: 1;
    color: aqua;
    font-size: 120%;
    text-transform: uppercase;
}

.nav-links {
    justify-content: space-between;
    flex: 2;
}

.nav-links a {
    color: #fff;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active {
    background: aqua;
    border-radius: 5px;
    color: #000;
}

#intro {
    height: 90vh;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    transition: all 0.4s ease-in-out;
    z-index: 101;
}

/* #intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
} */

.intro-content {
    position: absolute;
    top: 0;
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content h1 {
    color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    font-size: 5rem;
    width: 50%;
}

.intro-content p {
    margin: 2rem 0;
    color: #fff;
}

.intro-content p i {
    margin-right: 0.5rem;
}

.intro-content a {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    border: 1px solid crimson;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.intro-content a i {
    margin-left: 0.5rem;
    animation: move 0.6s ease-in-out infinite alternate;
}

@keyframes move {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.intro-content a:hover {
    filter: drop-shadow(1px 2px 5px crimson);
}

.cube {
    position: absolute;
    height: 2.5rem;
    z-index: 10;
}

.cube-1 {
    animation: rotate 10s ease-in-out infinite alternate;
    transform: translateX(200px);
    width: 2.5rem;
    bottom: 13%;
    right: 50%;
    animation-delay: 2s;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
        opacity: 0;
    }

    100% {
        transform: rotateZ(360deg) translate(10px, -50px);
        opacity: 1;
    }
}

.cube-2 {
    animation: rotate 7s ease-in-out infinite alternate;
    width: 2.5rem;
    top: 32%;
    left: 40%;
    animation-delay: 1s;
}

.cube-3 {
    animation: rotate 13s ease-in-out infinite alternate;
    width: .8rem;
    top: 10%;
    right: 40%;
    animation-delay: 2s;
}

.cube-4 {
    animation: rotate 9s ease-in-out infinite alternate;
    width: 1.7rem;
    bottom: 10%;
    right: 20%;
    animation-delay: 4s;
}

.cube-5 {
    animation: rotate 6s ease-in-out infinite alternate;
    width: 1.1rem;
    top: 40%;
    left: 10%;
    animation-delay: 5s;
}

.cube-6 {
    animation: rotate 6s ease-in-out infinite alternate;
    width: 1.1rem;
    bottom: 30%;
    left: 5%;
    animation-delay: 2s;
}

.cube-7 {
    animation: rotate 10s ease-in-out infinite alternate;
    width: 2.1rem;
    top: 20%;
    right: 2%;
    animation-delay: 3s;
}

.cube-8 {
    animation: rotate 14s ease-in-out infinite alternate;
    width: 1.8rem;
    bottom: 20%;
    right: 12%;
    animation-delay: 3s;
}

.cube-9 {
    animation: rotate 6s ease-in-out infinite alternate;
    width: 1.2rem;
    top: 6%;
    right: 20%;
    animation-delay: 3s;
}

#modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 40rem;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    animation: animatemodal .4s;
    box-shadow: 0 0 10px 1px #191919;
}

@keyframes animatemodal {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: -50%;
        opacity: 1;
    }
}

#close-btn {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
}

#close-btn>span:hover {
    color: red;
    cursor: pointer;
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(0, 0, 0, .7);

}

.modal-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.container {
    position: relative;
    align-self: flex-start;
    height: 10rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 1.9rem;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #000000;
}

.container1 {
    background: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt6ae97109c5b6d9e3/63367dae70612220ec4c125e/WC_Squads_Argentina.jpg?quality=80&format=pjpg&auto=webp&width=1000');
    background-position: top;
    background-size: cover;
}

.container2 {
    background: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blte75053f540b897b0/633f9c44c9b6cc1139bba1e4/WC_Squads_Croatia.jpg?quality=80&format=pjpg&auto=webp&width=1000');
    background-position: top;
    background-size: cover;
}

.container3 {
    background: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt6b00ff2dadce288f/63799e33db723334f78be243/WC_Squads_France_(1).jpg?quality=80&format=pjpg&auto=webp&width=1000');
    background-position: top;
    background-size: cover;
}

.container4 {
    background: url('https://cdn.ussoccer.com/-/jssmedia/project/ussf/2022-article-images/mntvsmorocco6122_1500x500.ashx?mw=2560&rev=f4bf6953a70c42139a97ccf4fbb4845b');
    background-position: top;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

.flap {
    width: 100%;
    height: 100%;
}

.flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    transition: 1s;
}

.flap1::before {
    background: url('https://media.istockphoto.com/id/472331743/vector/flag-of-argentina.jpg?s=612x612&w=0&k=20&c=c-2umpttsZxhGYUZ-GivXJp367HuWvO7I_aSapJbAOM=');
    background-position: top;
    background-size: cover;
}

.flap2::before {
    background: url('https://cdn.pixabay.com/photo/2012/04/10/23/11/croatia-26888_960_720.png');
    background-position: top;
    background-size: cover;
}

.flap3::before {
    background: url('https://cdn.britannica.com/82/682-004-F0B47FCB/Flag-France.jpg');
    background-position: top;
    background-size: cover;
}

.flap4::before {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Flag_of_Morocco.svg/383px-Flag_of_Morocco.svg.png');
    background-position: top;
    background-size: cover;
}


.container:hover .flap::before {
    transform: translatex(-15rem);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#userForm>div:first-child {
    display: flex;
    gap: 1rem;
}

#Predict {
    width: 150px;
    height: 41px;
    border-radius: 10px;
    background-color: crimson;
    border: 2px solid crimson;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    text-align: center;
}

.dummy {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.button-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: -.7rem 0 0 0;
}

.input-data {
    width: 80px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid crimson;
}

.btn-pre {

    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: azure;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: crimson;
}

.btn-pre:hover {
    border: 2px solid crimson;
    border-color: rgb(218, 19, 69);
    background-color: transparent;
    color: #fff;
    font-weight: 700;
}

.option {
    background-color: transparent;
    border: 2px solid crimson;
}


.contest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Chivo Mono', monospace;
}

.contest h1 {
    font-size: 4.1rem;
    letter-spacing: -.1rem;
}

.details {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-details.penalty {
    background-color: rgba(11, 11, 11, 0.732);
}

.input-details {
    width: 170px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: .7rem;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid crimson;
}

.github {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}
.github img {
   width: 2.5rem;
   height: 2.5rem;
}

@media screen and (max-width: 1000px) {
    #navbar {
        display: inline-block;
        height: 18vh;
    }

    .logo {
        justify-content: center;
        text-align: center;
        margin: 1rem 0 1rem 1rem;
    }

    .nav-links {
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    .nav-links li {
        padding: 0 1%;
    }

    /* #intro::before {
        width: 60%;
        top: -10%;
    } */

    .intro-content {
        top: 20%;
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .intro-content h1 {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }

    #modal {
        width: 40rem;
        height: 60rem;
        padding: 10px 20px;
        font-size: 1.5rem;
        gap: 1rem;
    }

    .modal-content {
        gap: 10px;
    }

    .container {
        height: 5rem;
        width: 7.5rem;
    }

    .contest {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .contest h1 {
        font-size: 2.3rem;
    }

    .contest h4 {
        font-size: 1.2rem;
    }

    #userForm{
        margin-top: 1.5rem;
    }

    #userForm>div:first-child {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    #Predict {
        width: 18rem;
        height: 3.2rem;
        border: 2px solid crimson;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .dummy {
        font-size: 1.6rem;
    }

    .input-data {
        width: 7.7rem;
        height: 2rem;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .btn-pre {
        width: 7rem;
        height: 3rem;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .details div:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .input-details.penalty {
        background-color: rgba(11, 11, 11, 0.732);
        margin-bottom: 1rem;
    }

    .input-details {
        width: 18rem;
        height: 3.2rem;
        font-size: 1.3rem;
    }
}   

@media screen and (max-width: 800px) {
    #navbar {
        height: 20vh;
        margin: auto;
        width: 100%;
    }

    .nav-links li {
        width: 25%;
    }

    .nav-links li a {
        font-size: 90%;
        border: 1px solid transparent;
    }

    .nav-links li a:hover {
        border: 1px solid #fff;
    }

    #intro {
        width: 100%;
    }

    #intro::before {
        opacity: 0.3;
        width: 90%;
    }

    .intro-content {
        left: 0%;
    }
}

@media screen and (max-width: 690px) {
    .nav-links li {
        width: 55%;
        margin-bottom: 1rem;
    }

    .nav-links li a {
        padding: 0 70%;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        width: 85%;
    }

    .intro-content {
        font-size: 100%;
        top: 5%;
        left: 0;
    }

    .intro-content h1 {
        font-size: 3rem;
    }

    #intro::before {
        opacity: 0.2;
        width: 100%;
    }

    #modal {
        width: 20rem;
        height: 34rem;
        padding: 10px 20px;
        font-size: 1.5rem;
        gap: 1rem;
    }

    .modal-content {
        gap: 10px;
    }

    .container {
        height: 3rem;
        width: 4.5rem;
    }

    .contest {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .contest h1 {
        font-size: 1.2rem;
    }

    .contest h4 {
        font-size: .6rem;
    }

    #userForm{
        margin-top: 0;
    }

    #userForm>div:first-child {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

    #Predict {
        width: 11rem;
        height: 2rem;
        border: 2px solid crimson;
        font-size: .65rem;
        font-weight: 600;
    }

    .dummy {
        font-size: 1rem;
    }

    .input-data {
        width: 4.3rem;
        height: 1.5rem;
        border-radius: 10px;
        font-size: .8rem;
    }

    .btn-pre {
        width: 4rem;
        height: 2rem;
        font-size: .6rem;
        margin-top: 0;
    }

    .details div:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
    }

    .input-details.penalty {
        background-color: rgba(11, 11, 11, 0.732);
        margin-bottom: 0;
    }

    .input-details {
        width: 11rem;
        height: 2rem;
        font-size: .7rem;
    }
}